@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.css");
@import "tailwindcss";

@theme {
  --color-brand-50: #fff9eb;
  --color-brand-100: #fff0c7;
  --color-brand-200: #ffe08a;
  --color-brand-300: #ffd05a;
  --color-brand-400: #fbbc2c;
  --color-brand-500: #f2a61e;
  --color-brand-600: #dd8a13;
  --color-brand-700: #b86712;
  --color-brand-800: #945117;
  --color-brand-900: #784418;
  --color-brand-950: #432307;

  --font-sans: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
}
